      <div class="block-content">

				<h3 class="block-title">About Me</h3>

				<div class="row" style="">
						<div class="col-md-4 col-sm-6 service">
							<div class="service-icon">
								<i class="fas fa-comments"></i>
							</div>
							<h4>TetraLingual</h4>
							<p>I think and speak in English and Hindi. I'm good with Punjabi. I learnt Italian this year and planning to learn Spanish by end of the year. </p>
						</div>
						<div class="col-md-4 col-sm-6 service">
							<div class="service-icon">
								<i class="fas fa-globe"></i>
							</div>
							<h4>Traveler</h4>
							<p>Bitten by wanderlust, I went to Italy, Vatican City, Switzerland and England.
                I have been to 15 states in India and 5 states in the USA.
                <!-- This year, I'll be cruising to the Bahamas.  </p> -->
						</div>
						<div class="col-md-4 col-sm-6 service">
							<div class="service-icon">
								<i class="fas fa-cube"></i>
							</div>
							<h4>Cuber</h4>
							<p>I love solving Rubik's cube. My least time is 1 minute. Last year, I practiced with the mirror cube. This year, I will learn to solve 4x4 cube.</p>
						</div>

						<div class="col-md-4 col-sm-6 service">
							<div class="service-icon">
								<i class="fas fa-info"></i>
							</div>
							<h4>Information overload</h4>
							<p>I read at a lightning-fast speed, hence I consume information voraciously from books, media and the internet.</p>
						</div>

						<div class="col-md-4 col-sm-6 service">
							<div class="service-icon">
								<i class="far fa-lightbulb"></i>
							</div>
							<h4>Trivia Girl</h4>
							<p>A name given to me by my friends because I tend to know something about everything. Mostly history.</p>
						</div>

						<div class="col-md-4 col-sm-6 service">
							<div class="service-icon">
								<i class="fas fa-pencil-alt"></i>
							</div>
							<h4>Writing</h4>
							<p>It is my preferred way of connecting with the masses. I write frequently on Quora where I have 7000+ followers.
              I am also planning to become a published author next year.</p>
						</div>

						<div class="col-md-4 col-sm-6 service">
							<div class="service-icon">
								<i class="fas fa-female"></i>
							</div>
							<h4>Campaigner</h4>
							<p>My Briggs-Meyer personality type is ENFP i.e. 'The Campaigner'. I share my personality type with Robert Downey Jr. and Quentin Tarantino.</p>
						</div>

            <div class="col-md-4 col-sm-6 service">
							<div class="service-icon">
								<i class="fas fa-book"></i>
							</div>
							<h4>Bookworm</h4>
							<p>Did I mention I read a lot? My all-time favorite book is 'Wuthering Heights' by Emily Bronte.
                I'm currently reading 'Norwegian Wood' by Haruki Murakami.</p>
						</div>

					</div>


	  </div>

	  <div class="block-content">
                        <h3 class="block-title">Get in touch</h3>
                        <div class="row">
                            <div class="col-md-5" ng-show="false">
                                <form id="contactForm" data-toggle="validator" class="contact-form shake">
                                    <div class="form-group">
                                        <input id="name" type="text" class="form-control" name="Name" autocomplete="off" required data-error="Please enter your name" placeholder="* Your Name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input id="email" type="email" class="form-control" name="email" autocomplete="off" required data-error="Please enter your email" placeholder="* Your Email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <textarea id="message" class="form-control textarea" rows="10" name="Message" required data-error="Please enter your message subject" placeholder="* Your Message"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <button id="submit" type="submit" class="btn selected">Send Message</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-6 offset-md-1">
                                <div class="contact-content">
                                    <div class="contact-icon">
                                        <i class="ion-ios-location-outline"></i>
                                    </div>
                                    <div class="contact-details">
                                        <h5>Location</h5>
                                        <p>Amherst, Massachusetts</p>
                                    </div>
                                </div>
                                <div class="contact-content">
                                    <div class="contact-icon">
                                        <i class="ion-ios-telephone-outline"></i>
                                    </div>
                                    <div class="contact-details">
                                        <h5>Call Me</h5>
                                        <p> <a href="tel:+1413-475-2705" style="color: #007bff;text-decoration: none;
                                    			background-color: transparent;"> (413) 475-2705 </a></p>
                                    </div>
                                </div>
                                <div class="contact-content">
                                    <div class="contact-icon">
                                        <i class="ion-ios-email-outline"></i>
                                    </div>
                                    <div class="contact-details">
                                        <h5>Email Me</h5>
                                        <p><a href="mailto:dgarg@umass.edu" target="_blank" >dgarg@umass.edu </a></p>
                                    </div>
                                </div>

                                <div class="contact-content">
                                    <div class="contact-icon">
                                        <i class="fab fa-linkedin-in"></i>
                                    </div>
                                    <div class="contact-details">
                                        <h5>LinkedIn</h5>
                                        <p><a href = "https://www.linkedin.com/in/deepaligargcs/"
                                    			target="_blank"> www.linkedin.com/in/deepaligargcs/ </a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!--Google Map-->
                                <div id="map"></div>
                                <!--Google Map End-->
                            </div>
                        </div>
                    </div>
