<div class="block-content">
	<h3 class="block-title">Profile</h3>
	<h3 class="subheading">I'm a <strong>Software Developer</strong> with 3 years of professional experience. I aim to make a difference through my creative solution.</h3>
	<p>Worked with project teams to create user-friendly and appealing applications. Met with project manager, business analyst and
		architect right from beginning of project, creating rough mock-ups that were refined and extended over many iterations.
		Adjustments to mock-ups as necessary to address problems encountered.</p>
	<p>
		3 years of experience in programming and application development from planning to maintenance stage and additional skills in
		testing, software design, prototyping, interface design and software security. Supportive and enthusiastic team player dedicated to streamlining processes and resolving project issues.
		Willing to take ownership of core components.
	<p>
	<p> I am a passionate advocate for diversity and inclusion in the workplace. I also mentor aspiring female software engineers
		to achieve their professional goals.
	</p>
	<div class="info-list row">
		<div class="col-sm-6"><span>Name : </span> Deepali Garg</div>
		<div class="col-sm-6"><span>Email : </span> dgarg@umass.edu</div>
	  <div class="col-sm-6"><span>Interest : </span> Software development, Machine Learning</div>
	</div>
	<!-- <img class="sign" src="images/signature.png" alt="" /> -->
</div>
<div class="block-content">
	<h3 class="block-title">Skills</h3>
	<label class="progress-bar-label">Javascript - <span>3 years experience</span></label>
	<div class="progress">
		<div style="width: 100%;" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

		</div>
	</div>

	<label class="progress-bar-label">HTML&amp;CSS - <span>3 years experience</span></label>
	<div class="progress">
		<div style="width: 100%;" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

		</div>
	</div>

	<label class="progress-bar-label">Java - <span>1 year experience</span></label>
	<div class="progress">
		<div style="width: 100%;" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

		</div>
	</div>

	<label class="progress-bar-label">C, C++, Python - <span>2 years experience</span></label>
	<div class="progress">
		<div style="width: 100%;" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
		</div>
	</div>

	<label class="progress-bar-label">Machine Learning - <span>1 years experience</span></label>
	<div class="progress">
		<div style="width: 100%;" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
		</div>
	</div>

</div>
<div class="block-content">
	<h3 class="block-title">Experience</h3>
	<div class="timeline experience">
		<div class="row">
			<div class="col-md-12">
				<div class="exp-holder">
					<div class="exp">
						<div class="hgroup">
							<h4><span>Software Engineering Intern</span> @ Amazon Web Services, Seattle</h4>
							<h5>Summer 2019</h5>
						 <!--   <h5>August 2016 - <span class="current">Present</span></h5> -->
						</div>
						<p>
							As a part of the Amazon Web Services Elastic Block Storage(EBS) Team, I developed an auditor
							to determine non-compliance and failures of user-defined policies for taking point-in-time snapshots for
							Single and Multiple EBS volumes with the Data Lifecycle Manager feature. Earlier,
							the manual check for non-compliance for 1 policy took 2 hours which was reduces to just
							4 minutes to check 600 policies.
						</p>

						<p>
							My changes are in production and will accelerate failure remediation for millions of AWS EBS customers.
						</p>

						<p>
						I generated events for AWS Cloudwatch,filtered them across server nodes and transferred them to
						AWS S3 storage using AWS Kinesis Data Streams and AWS Kinesis Firehose, powered with real-time
						data processing and transformation by AWS Lambda and querying using AWS Athena. End-to-end encryption was
						provided by associating the entire pipeline with AWS Key Management System.
						</p>


					</div>
					<div class="exp">
						<div class="hgroup">
							<h4><span>Associate Data Engineer</span> @ Capital One, Bengaluru</h4>
							<h5>August 2016 - June 2018</h5>
						 <!--   <h5>August 2016 - <span class="current">Present</span></h5> -->
						</div>
						<p>
							I led the interface design and developed the user interface of DataSense, a data quality tool used in the Financial
							Services division of the company.

							The product reduced the time for processing critical financial services data by 90% and saved the company millions in cost.
							Frameworks used were AngularJS and D3.js.
						</p>
						<p>
							I created APIs and business logic for Data Validation tool using SpringBoot. It reduced processing time of billions of rows of data by 85%.
						</p>
						<p>
							I set up the tech stack, tools, infrastructure for DataSense and created unit test cases for both softwares using Karma,
							Jasmine and JUnit.
						</p>
						<p>
							My work was appreciated and I received a Quarterly and two monthly awards for outstanding work.
						</p>
					</div>
					<div class="exp">
						<div class="hgroup">
							<h4><span>Associate Software Engineer</span> @ CA Technologies(Now a part of Broadcom Inc.), Hyderabad </h4>
							<h5>July 2015 - August 2016 </h5>
						</div>
						<p> I helped create the UI for Service Desk Manager using AngularJS, replacing the old legacy UI and improving loading time by 40%.
						</p>
						<p>
							I contributed to replacement of legacy Federated Search by researching enterprise search engines. I researched and developed
							two prototype microservices for efficient search using ElasticSearch and Solr, seamlessly integrating both with legacy servers.
							I also drove the Proofs of concept that led to adoption of Elasticsearch, making search contextual and fast.
						</p>
						<p>
							I developed a communication prototype with Java Messaging Services and ActiveMQ facilitating centralized
							logging of Play framework services running in a distributed environment.
						</p>
						<p>
							I fixed Cross-site scripting issues in old Service Desk Manager version by implementing OWASP solution in Java.
						</p>
					</div>
		
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Projects -->

<div class="block-content">
	<h3 class="block-title">Projects</h3>
	<div class="timeline experience">
		<div class="row">
			<div class="col-md-12">
				<div class="exp-holder">
					<div class="exp">
						<div class="hgroup">
							<h4><span> Using Deep Learning to thwart Online Child Sexual Exploitation (Ongoing)</h4>
						 <!--   <h5>August 2016 - <span class="current">Present</span></h5> -->
						</div>
						<p>
							I was motivated to use the skills I learned as a part of my journey to become a Machine Learning practitioner
							for common good. Recently, I read about human trafficking that happens online and the technological gap faced <body>
							law enforcement authorities to combat the spread of child pornography. It takes a huge mental toll on the policemen
							to go through the videos procured from suspects and delays prosecution by years.
							</body>
						</p>
						<p>

							I am working with Prof. Brian Levine for classication and ranking videos to create a tool for law enforcement agencies
							for classifying Child Exploitation Material(CEM). I did transfer learning on Google's AudioSet model followed by
							multi-label classication after extracting log mel spectrogram features of audio extracted fromfiles.
						</p>
						<p> Next, I'll be undertaking classication of video content with age estimation and NSFW detection in the future.
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>


<div class="block-content">
	<h3 class="block-title">Education</h3>
	<div class="timeline education">
		<div class="row">
			<div class="col-md-12">
				<div class="exp-holder">
					<div class="exp">
						<div class="hgroup">
							<h4>MS in Computer Science | <span>University of Massachusetts Amherst</span></h4>
							<h5>September 2018 - Present <span class="current"></span></h5>
						</div>
						<p>
							I am a part the College for Information and Computer Science as a Masters student,
							specializing in Artificial Intelligence.
							I have taken the following Courses :
							<ul>
								<li> Machine Learning </li>
								<li> Algorithms for Data Science </li>
								<li> Neural Networks : A Modern Introduction </li>
								<li> Deep Learning for Natural Language Processing </li>
								<li> Mobile and Ubiquitous Computing </li>
								<li> Internet Law and Policy </li>
							</ul>

						</p>
					</div>
					<div class="exp">
						<div class="hgroup">
							<h4>B.Tech. in Information Technology | <span>National Institute of Technology, Kurukshetra</span></h4>
							<h5>July 2011 - May 2015</h5>
						</div>
						<p>Courses
							<ul>
								<li> Data Structures </li>
								<li> Design and Analysis of Algorithms </li>
								<li> Operating Systems </li>
								<li> Computer Networks </li>
								<li> Database Systems </li>
								<li> Unix and Linux Programming </li>
								<li> Software Engineering </li>
							</ul>
					</div>
					<div class="exp">
						<div class="hgroup">
							<h4>P.K.R. Jain Senior Secondary School, Ambala City</span></h4>
							<h5>May 2017 - Sept 2017</h5>
						</div>
						<p>
							I graduated with high honors. I scored 95% in Physics, Chemistry and Mathematics in my senior year. In my Sophomore year, I scored 97%, stood 2nd in my district and amongst the top 20 scorers in my state.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="block-content">
	<h3 class="block-title">Awards</h3>

	<div class="row">
		<div class="col-md-4 col-sm-6 service">
			<div class="service-icon">
				<i class="ion-laptop"></i>
			</div>
			<h4>Quarterly Award, Capital One</h4>
			<p>
				For significant contribution to Datasense's 2 releases.
			</p>
		</div>
		<div class="col-md-4 col-sm-6 service">
			<div class="service-icon">
				<i class="ion-laptop"></i>
			</div>
			<h4>Monthly Award, Capital One</h4>
			<p>For finishing the major UI components and their quick delivery.</p>
		</div>
		<div class="col-md-4 col-sm-6 service">
			<div class="service-icon">
				<i class="ion-laptop"></i>
			</div>
			<h4>Monthly Award, Capital One</h4>
			<p>For designing and implementing the dashboard using D3.js</p>
		</div>
		<div class="col-md-4 col-sm-6 service">
			<div class="service-icon">
				<i class="ion-laptop"></i>
			</div>
			<h4>Above and Beyond Award, CA Technologies</h4>
			<p>For managerial contribution towards an HR event.</p>
		</div>
		<div class="col-md-4 col-sm-6 service">
			<div class="service-icon">
				<i class="fa fa-book"></i>
			</div>
			<h4>Youth for Leadership in Science</h4>
			<p>Selected for CSIR Programme in the year 2010. I was among the 3 students selected from Haryana state for this program.</p>
		</div>

		<div class="col-md-4 col-sm-6 service">
			<div class="service-icon">
				<i class="fa fa-book"></i>
			</div>
			<h4>.1 Percentile Scorer</h4>
			<p>I scored amongst the top .1 percentile in Science all across India in the class 10th exam conducted by CBSE.</p>
		</div>

	</div>

   <!-- <div class="row">
		<div class="col-md-3 col-sm-6 awards">
			<img src="images/awards/1.jpg" alt="" />
		</div>
		<div class="col-md-3 col-sm-6 awards">
			<img src="images/awards/2.jpg" alt="" />
		</div>
		<div class="col-md-3 col-sm-6 awards">
			<img src="images/awards/3.jpg" alt="" />
		</div>
		<div class="col-md-3 col-sm-6 awards">
			<img src="images/awards/4.jpg" alt="" />
		</div>
	</div> -->
</div>
<!--<div class="block-content"> -->
	<!--<h3 class="block-title">Testimonials</h3>
	<div class="row">
		<div id="liontestimonial" class="owl-carousel owl-theme">
			<div class="item testimonials">
				<img src="images/testimonials/1.jpg" alt="">
				<blockquote>This template is exactly what we were looking for!
					<p class="quote"><span>Brendon Rodgers</span> - CEO of xyz.com</p>
				</blockquote>
			</div>
			<div class="item testimonials">
				<img src="images/testimonials/2.jpg" alt="">
				<blockquote>This template is very nice! Great work
					<p class="quote"><span>Becky Allwood</span> - CEO of abc.com</p>
				</blockquote>
			</div>
			<div class="item testimonials">
				<img src="images/testimonials/3.jpg" alt="">
				<blockquote>My work has been significantly simplified.
					<p class="quote"><span>Elly Page</span> - CEO of nfl.com</p>
				</blockquote>
			</div>
		</div>-->
