<div id="blog-header" style="background: url(partials/highlights/gradSchool/gre-destroyed.jpg); background-size: cover;">
    <div class="overlay"></div>
    <div class="single-post-title">
        <h1>How I scored 325 on the GRE</h1>
        <p class="post-info">
            <span class="post-date">July 28, 2018</span>
            <span class="slash"></span>
            <span class="post-catetory">Graduate School</span>
        </p>
    </div>
</div>
<div class="block-content">
    <div class="row">
        <div class="col-md-12">
            <div id="single-post">
                <div class="post">
                    <div class="post-body">
                        <p>
							A lot of people have asked me how I prepared for the GRE. Since I’m tired of repeating my answer, I am writing in detail how to get a good score with 60 days of preparation. I’m pretty sure anyone can score much higher and this is just a chronology of my preparation.
						</p>
						<p>
						
							What you will need:
							</p>
<ol>							
<li> The ETS Official Guide to the GRE Revised General Test with CD-ROM </li>
<li> <a href="http://www.amazon.in/Official-Quantitative-Reasoning-Practice-Questions/dp/9339217977/ref=pd_bxgy_14_2?_encoding=UTF8&psc=1&refRID=GVYV68EGC0JMZK7TTBWJ">Official Gre Quantitative Reasoning Practice Questions </a> </li>
<li> <a href="http://www.amazon.in/Official-Verbal-Reasoning-Practice-Questions/dp/9339217969/ref=pd_bxgy_14_3?_encoding=UTF8&psc=1&refRID=GVYV68EGC0JMZK7TTBWJ">Official Gre Verbal Reasoning Practice Questions </a></li>
<li> <a href="http://www.amazon.in/Barrons-21st-Sharon-Weiner-Green/dp/1438005687/ref=sr_1_6?s=books&ie=UTF8&qid=1501599656&sr=1-6&keywords=barrons+gre">Barron's GRE, 21st Edition </a></li>
<li> <a href="http://amzn.in/2J2acqf">Barron’s Essential Words for the GRE (800 words) Buy Barron`s Essential Words for the GRE Book Online at Low Prices in India </a> </li>
<li> <a href="http://www.amazon.in/Practice-Problems-Manhattan-Strategy-Guides/dp/1941234518/ref=sr_1_7?s=books&ie=UTF8&qid=1501599656&sr=1-7&keywords=barrons+gre">5 Lb. Book of GRE Practice Problems (Manhattan Prep GRE Strategy Guides) </a> </li>
<li> The free Magoosh GRE vocabulary app </li>
<li> A Magoosh account. (Super important) </li>
<li> Manhattan’s 6-test online series. </li>

</ol>

<p>Additionally, you will need</p>
<ol>
<li> 2–3 hours every day. </li> 
<li> Little to no social life over the weekends( just kidding. If you can manage a social life with the prep, good for you) </li> 

</ol>
<p>Schedule:</p>
<p>Day 1–10 </p>
<ol>
<li> Go through the official ETS guide, make relevant notes and get yourself familiarized with the questions and exam pattern. Do every question in the book and do not get disappointed, none of us get them right the first time. </li>
<li> Take the diagnostic test at the beginning of Barron’s 800 word list book. Then follow a study plan that suits you the best according to that book. </li>
<li> e.g. I went through just the high frequency words( those marked with asterisks) 20 words a day on weekdays. On weekends- Revise the 100 words done in the week plus 50 more words. Maintain this pace for the rest of the month. </li>
</ol>
<p>At the end of 15 days, you will have learnt 300 high frequency words and practiced the ETS official guide.</p>
<p>Day 11-30</p>
<ol>
<li> Practice the rest of 500 words in the list at the rate of 25 words per day on weekdays and 40 per day on weekends (including revision of other words). </li>
<li> Practice every question in the ETS official Quantitative and Verbal guides. This should take approximately 5–6 days. </li>
<li> Go through Barron’s GRE book and on day 25 and 30, take both of tests given in the CD-ROM. Take the 2 tests at the end of the book in this duration as well. </li>
<li> Go through Magoosh’s free app’s words under the rubric ‘Common’ in your free time, while commuting to and from work or during your lunch hours. </li>
</ol>
<p>Day 31–45</p>
<ol>
<li> Take 4 of the 6 online Manhattan tests over two weekends, focusing especially on the quant questions. </li>
<li> Go through Magoosh’s free app’s words under the rubric ‘Basic’. </li>
<li> Start working on the quant section of Manhattan’s 5 lb book at the rate of 2 chapters per day. The difficulty level of quant in the book is closest to the actual GRE. </li>
<li> Go through every question of the Verbal section of your Magoosh account. (About 600 in total). Don't skip the explanations of the questions that went wrong. The difficulty level of the Magoosh verbal questions is the closest to the actual GRE. </li>
</ol>
<p>Day 46–60</p>
<ol>
<li> Take the rest of the 2 Manhattan online tests. </li>
<li> If you are done with the Manhattan 5lb’s quant question bank, start going through the Magoosh quant question bank. </li>
<li> Take the 2 official ETS tests in the CD given with the official guide. The score you get in these tests is nearly equal to your score in the actual test. </li>
<li> Revise the 800 words, Magoosh’s common and basic words on a daily basis. </li>
<li> Revise all your notes. </li>
<li> Go trhough sample AWA questions on the official ETS website. </li>
</ol>
<p>Notes</p>
<ol>
<li> Don't skip the AWA section in the practice tests. ( one of my biggest regrets) </li>
<li> Write down every word while practicing. </li>
<li> Subscribe to The Hindu and go through the editorials on a daily basis. </li>
<li> Read articles from The New Yorker and The Economist. </li>
<li> Try to use the words in your daily language. You might come across as a pedant, but hey, you need to practice them to retain them in your memory. </li>
<li> The magoosh tests repeat the questions from the bank. If you are done with both banks, there is not need to take the tests. </li>
</ol>
<p>
Thanks and all the best!
</p>
						
						
                    </div>
                    
                </div>
               </div>
        </div>
    </div>
</div>
<script>
$('.open-post').on('click', function() {
    var postUrl = $(this).attr("href");
    $('.inline-menu-container').removeClass('showx');
    $('.content-blocks.pop').addClass('showx');
    $('.content-blocks.pop section').load(postUrl)
    return false;
});
$('#close-post').on('click', function() {
    $('.content-blocks.pop').removeClass('showx');
    $('.inline-menu-container').addClass('showx');
    $('.content-blocks.pop section').empty();
});
</script>